.search_bar{
display: flex;
background-color: aliceblue;
width: 100%;
max-width: 300px;
justify-content: space-between;
box-shadow: 0 1px 2px 0;
gap: 10px;
padding-right: 10px;
}

.search_input{
  padding: 10px; 
  flex-grow: 1;
  border: none;
  outline: none;
}

.search_button{
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  color: black;
}